/* Globales */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

html{
    font-size: 62.5%; /*  Configuración para que 1rem = 10px*/
    box-sizing: border-box; /*Hack para Box Model */
    scroll-behavior: smooth;
}
/* Evitar desbordamientos laterales */
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
*, *::before, *::after{
    box-sizing: inherit; /*Hack para Box Model */
}
:root{
    --primero: #66D9ED;
    --segundo: #1ACCB0;
    --tercero: #0F172A;
    --cuarto: #080F1F;
    --blanco: #fff;
    --oscuro: #212121;
    --degradado: linear-gradient(46deg,rgb(120, 26, 143),rgba(0, 255, 0, 0) 20%),
    linear-gradient(60deg,rgba(171, 99, 82, 1),rgba(0, 255, 0, 0) 40%),
    linear-gradient(340deg, rgba(39, 45, 152), rgba(0, 255, 0, 0) 30%),
    linear-gradient(217deg, rgb(15, 23, 42), rgba(0, 0, 255, 0) 70.71%);
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px; /*  Configuración para que 1rem = 10px*/
    background-color: var(--tercero);
    margin: 0;
}
h1, h2, h3, h4{text-align: center;}
h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--blanco);
    margin: 0;
    padding: 5rem 10rem;
}
h2{
    font-size: 4rem;
    font-weight: 600;
    color: var(--segundo);
}
h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--segundo);
}
h4{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--blanco);
    margin: 0;
    padding: 2rem;
}
p{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--blanco);
    padding: 0 1.5rem;
    line-height: 2rem;
}
img{max-width: 100%;}
a{
    text-decoration: none;
    color: var(--blanco);
}

/* HEADER */

.contenedor{
    max-width: 100%;
    height: auto;
}

.menu{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 10rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s ease-in-out;
    
}
.down{
    background-color: var(--cuarto);
    z-index: 10;
}

.menu__logo{
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    color: var(--primero);
}
.menu__list{
    display: flex;
}
.menu__list--item{
    list-style: none;
}
.menu__nav{
    margin: 0 2rem;
    font-weight: 600;
    color: var(--blanco);

}
.nav--activo,
.menu__nav:hover{
    color: var(--segundo);
}
.menu__open,
.menu__close{
    display: none;
}
.webp .banner{
    background-image: url(../img/Yury-web.webp);
}
.no-webp .banner{
    background-image: url(../img/Yury-web.png);
}
.banner{
    background-image: url(../img/Yury-web.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120rem;
}

.banner__img{
    display: flex;
    width: auto;
    height: 70rem;
    margin: 0 auto;
    padding-top: 25rem;
}
.banner__button{
    text-align: center;
    margin: 5rem 4rem;
}
.banner__button--anime{
    position: relative;
    width: 30rem;
    height: 6rem;
    border: none;
    border-radius: 5rem;
    outline: none;
    background-color: var(--cuarto);
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 4rem auto;
    z-index: 0;
}
.banner__button--anime:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 800%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    animation-delay: 0s;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}

.banner__button--anime:active:after {
    background: transparent;
}

.banner__button--anime:before {
    opacity: 1;
}

.banner__button--anime:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--cuarto);
    left: 0;
    top: 0;
    border-radius: 1rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.contenedor-sec{
    width: 100%;
}
.about{
    background: var(--degradado);
    padding: 2rem;
}
.about__text h3{
    padding: 2rem;
}
.about__text p{
    max-width: 80%;
    text-align: justify;
    padding: 1rem 4rem 2rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 0 auto;
}
.about__portfolio{
    display: grid;
    grid: repeat(2,1fr) / repeat(3,1fr);
    gap: 3rem;
    width: 100%;
    height: auto;
    padding: 5rem;
}
.about__card{
    position: relative;
    perspective: 1000px; /* Profundidad de la perspectiva */
    overflow: hidden; /* Evita que la imagen sobresalga de la tarjeta */
    border: 1px solid #3498db; /* Borde inicial */
    transition: transform 0.5s; /* Agregamos una transición para suavizar la animación de la tarjeta */
    width: auto;
    height: auto;
    background-color: var(--oscuro);
    border: 0.2rem solid var(--oscuro);
    border-radius: 2rem;
    -webkit-box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);
    margin: 2rem;
}
.about__card:hover {
    transform: translateY(-10px); /* Eleva ligeramente la tarjeta al pasar el ratón sobre ella */
    background-color: rgba(120, 26, 143, 0.295); /* Cambia el color de fondo del contenedor inferior */
}
.about__img{
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen al contenedor manteniendo su relación de aspecto */
}
.about__text1{
    text-align: center;
    padding-bottom: 2rem;
    transform-style: preserve-3d;
    transition: background-color 0.5s; /* Agregamos una transición para suavizar el cambio de color en el contenedor inferior */
    height: 154px;
}
#about,
#portafolio{
    scroll-margin-top: 10rem;
}
#portafolio{
    padding-top: 4rem;
}
.footer{
    width: 100%;
    height: auto;
    background-color: var(--cuarto);
}
.footer__contenedor{
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer__text{
    width: 30%;
    height: auto;
    text-align: justify;
    padding: 1.5rem;

}
.footer__text p{
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.6rem;
}
.footer__text span{
    color: var(--blanco);
    font-weight: 100;
    font-size: 1.4rem;
}
.footer__email{
    color: var(--segundo);
    font-weight: 400;
    font-size: 1.6rem;
}
.footer__email:hover{
    cursor: pointer;
    color: #781a8f;
}
.footer__icon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.footer__img{
    width: 4rem;
    height: 4rem;
}
.footer__img:hover{
    border: rgba(120, 26, 143, 0.514) 0.5rem solid;
    border-radius: 5rem;
    transition: 0.5s;
}
.copy{
    width: 100%;
    height: auto;
    padding: 1rem;
}
.copy p{
    font-size: 1.2rem;
    text-align: center;
    color: var(--primero);
}

/** Responsive **/

@media screen and (min-width: 1850px) {
    .menu__nav {
        font-size: 2rem;
    }
    h3{
        font-size: 3rem;
    }
    .about__text p {
        font-size: 2.5rem;
        line-height: 4rem;
    }
    a{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
        padding: 0 10rem;
        line-height: 4rem;
    }
    .about__text1{
        height: 25rem;
    }
    .footer__text p {
        font-size: 2.5rem;
    }
    .footer__text span {
        font-size: 2.5rem;
    }
    .footer__email {
        font-size: 2.5rem;
    }
    .footer__img {
        width: 6rem;
        height: 6rem;
    }
    .copy p {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1166px) {
    .menu__logo{
        font-size: 3rem;
    }
}

/* Tablet */

@media screen and (max-width: 920px) {

    /* Header */
    .contenedor{
        height: auto;
    }
    .banner{
        height: auto;
    }
    .banner__img {
        display: flex;
        height: auto;
        margin: 0 auto;
        padding: 20rem 2rem 0;
    }
    .banner__button--anime{
        width: 20rem;
        height: 6rem;
    }
    h1{
        font-size: 2.5rem;
        margin-top: 5rem;
        padding: 10rem;
    }
    /* About */

    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.6rem;
        margin: 0;
    }
    h4{
        font-size: 1.2rem;
    }
    .about__text p {
        padding: 1rem;
        font-size: 1.3rem;
    }
    .about__portfolio{
        display: grid;
        grid: repeat(3,1fr) / repeat(2,1fr);
        padding: 3rem;
    }
    .about__card {
        width: 23rem;
        margin: 2rem auto;
        cursor: pointer;
    }
    p{
        font-size: 1rem;
    }
    /* Footer */
    .footer__contenedor {
        display: grid;
    }
    .footer__text {
        width: 100%;
        padding: 2rem;
    }
    .footer__text p {
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
    }
    .footer__text span {
        font-size: 1.2rem;
    }
    .footer__icon {
        width: 100%;
    }
    .footer__img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
    .footer__img:hover{
        border: rgba(120, 26, 143, 0.514) 0.5rem solid;
        border-radius: 5rem;
        transition: 0.5s;
    }    
    .copy p {
        padding: 0rem 5rem;
        line-height: 1.5rem;
    }
}
@media screen and (max-width: 800px) {

    .menu__logo{
        margin: 0 auto 0 5rem;
    }
    .menu__main{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--cuarto);
        box-shadow: 0 0 0  100vmax rgba(0, 0, 0, .5);
    }
    .menu__main.visible{
        opacity: 1;
        visibility: visible;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        
    }
    .menu__list--item{
        padding: 1.5rem;
    }
    .nav--activo{
        color: var(--primero);
    }
    .menu__open,
    .menu__close{
        display: block;
        background-color: transparent;
        color: var(--blanco);
        font-size: 1.6rem;
        border: none;
        padding: 2rem;
        cursor: pointer;
    }
    .menu__open{
        font-size: 4rem;
        padding-right: 5rem;
    }
}

/* Mobile */

@media screen and (max-width: 530px) {

    .about__portfolio{
        display: grid;
        grid: none;
        padding: 3rem 0;
    }
    h1 {
        font-size: 1.9rem;
    }
}

/* @media (hover: hover) {
    .footer__img:hover{
        border: rgba(120, 26, 143, 0.514) 0.5rem solid;
        border-radius: 5rem;
        transition: 0.5s;
    }
  } */